{{ define "sidebar" }}
{{ $page := index .TopFlags "page" }}
<div class="sidebar">
  <div class="sidebar-inner">
    <!-- ### $Sidebar Header ### -->
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
          <a class="sidebar-link td-n" href="{{ .RequestURIPath }}/index.html">
            <div class="peers ai-c fxw-nw">
              <div class="peer">
                <div class="logo">
                  <img src="assets/static/images/logo.png" alt="">
                </div>
              </div>
              <div class="peer peer-greed">
                <h5 class="lh-1 mB-0 logo-text">Pubkemail</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle">
            <a href="" class="td-n">
              <i class="ti-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ### $Sidebar Menu ### -->
    <ul class="sidebar-menu scrollable pos-r">
      <li class="nav-item mT-30 active">
        <a class="sidebar-link" href="{{ .RequestURIPath }}/index.html">
          <span class="icon-holder">
            {{ if eq $page "/index.html" }}
            <i class="c-blue-500 ti-home"></i>
            {{ else }}
            <i class="c-brown-500 ti-home"></i>
            {{ end }}
          </span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-link" href="{{ .RequestURIPath }}/email.html">
          <span class="icon-holder">
              {{ if eq $page "/email.html" }}
              <i class="c-blue-500 ti-email"></i>
              {{ else }}
              <i class="c-brown-500 ti-email"></i>
              {{ end }}
          </span>
          <span class="title">Email</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-link" href="{{ .RequestURIPath }}/pricing.html">
          <span class="icon-holder">
              {{ if eq $page "/pricing.html" }}
              <i class="c-blue-500 ti-money"></i>
              {{ else }}
              <i class="c-brown-500 ti-money"></i>
              {{ end }}
          </span>
          <span class="title">Pricing</span>
        </a>
      </li>
    </ul>
  </div>
</div>
{{ end }}