<!DOCTYPE html>
<html>
  {{ template "top" .TopFlags }}
  <body class="app is-collapsed">
    <!-- @TOC -->
    <!-- =================================================== -->
    <!--
      + @Page Loader
      + @App Content
          - #Left Sidebar
              > $Sidebar Header
              > $Sidebar Menu

          - #Main
              > $Topbar
              > $App Screen Content
    -->

    <!-- @Page Loader -->
    <!-- =================================================== -->
    {{ template "loader" }}

    <!-- @App Content -->
    <!-- =================================================== -->
    <div>
      <!-- #Left Sidebar ==================== -->
      {{ template "sidebar" . }}

      <!-- #Main ============================ -->
      <div class="page-container">
        <!-- ### $Topbar ### -->
        <div class="header navbar">
            <div class="header-container">
              <ul class="nav-left">
                <li>
                  <a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);">
                    <i class="ti-menu"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

        <!-- ### $App Screen Content ### -->
        <main class="main-content bgc-grey-100">
          <div class="wrapper">
            <div class="package">
              <div class="name">Essential</div>
              <div class="price">$8</div>
              <div class="trial">15-day free trial</div>
              <hr style="margin-top:-2px;margin-bottom:25px">
              <ul>
                <li>
                  All <strong>Access Level</strong> features
                </li>
                <li>
                  Forward 5 addresses immediately<sup>*</sup>
                </li>
                <li>
                  Send emails from a registered address
                </li>
                <li>
                  Email support within 7 days
                </li>
              </ul>
              <div style="position:absolute; bottom:15px; left: 0; right: 0; margin: auto">
                  <button name="{{ .Const.Submit }}" value="{{ .Const.SubmitAddWIF }}" type="submit" class="btn btn-primary">Buy Now</button>
              </div>
            </div>
            <div class="package brilliant">
              <div class="name">Quint</div>
              <div class="price">$12</div>
              <div class="trial">15-day free trial</div>
              <hr style="margin-top:-2px;margin-bottom:25px">
              <ul>
                <li>
                    All <strong>Essential Level</strong> features
                </li>
                <li>
                  Forward 20 addresses immediately <sup>*</sup>
                </li>
                <li>
                  Email support within 1-2 days
                </li>
                <li>
                  Lookup and email LTC and XDG addresses
                </li>
                <li>
                  1-year RSS feed for emails
                </li>
              </ul>
              <div style="position:absolute; bottom:15px; left: 0; right: 0; margin: auto">
                  <button name="{{ .Const.Submit }}" value="{{ .Const.SubmitAddWIF }}" type="submit" class="btn btn-primary">Buy Now</button>
               </div>
            </div>
            <div class="package">
              <div class="name">Access</div>
              <div class="price">$0</div>
              <div class="trial">Free</div>
              <hr style="margin-top:-2px;margin-bottom:25px">
              <ul>
                <li>
                  Client to run fowarding from machine
                </li>
                <li>
                  Lookup BTC addresses
                </li>
                <li>
                  3-month RSS feed for emails
                </li>
                <li>
                  Forum support
                </li>
              </ul>
              <div style="position:absolute; bottom:15px; left: 0; right: 0; margin: auto">
                  <button name="{{ .Const.Submit }}" value="{{ .Const.SubmitAddWIF }}" type="submit" class="btn btn-primary">Download Now</button>
              </div>
            </div>
            <div style="text-align: center;;;padding-top:500px;" class="text-secondary">
              <p>* requires the crypto-currency address and forwarding email address to be submitted to pubkemail.com servers</p>
            </div> 
          </div>
        </main>

        <!-- ### $App Screen Footer ### -->
        {{ template "footer" }}
      </div>
    </div>
    {{ template "bottom" .BottomFlags }}
</html>
